<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<h3>User info</h3>
<body>
<h4>User id:</h4> <p th:text="${user.getId()}">ID</p>

<h4>User name:</h4><p th:text="${user.getName()}">NAME</p>
<h4>User surname:</h4><p th:text="${user.getSurname()}">SURNAME</p>
<h4>User age:</h4><p th:text="${user.getAge()}">AGE</p>
<h4>Email:</h4><p th:text="${user.getEmail()}">EMAIL</p>
<br>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
<br>
<br>
<a th:href="@{/users}">All users</a>
<br>
<hr/>
<br>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>